
/*estrutura */
body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    width: 240px;
    float: left;
    background-image: url(multimidia/meu-amigo-cao-petshop-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px; 
    text-indent: -1000px;
    margin-bottom: 0px;
}

header #anuncio{
    width: 510px;
    float: left;
    margin: 80px auto auto;
    padding-top: 0px;
}

header section{
    padding-top: 70px;
}

header section a[href="boletim.html"]{
    border: solid #c0262c thin;
    padding: 15px;
    border-radius: 15px;
    color: #c0262c;
    text-decoration: none;
    font-size: 1.1em;
}

header section p{
    color: #999999;
    margin: 33px auto 7px;

}

header section figure {
    width: 100%;
    margin: 0px;
}

header section figure a {
    padding: 25px 5px 0;
    border: none;
}

header section figure a:first-child{
    padding: 25px 5px 0 0;
    

}

header section figure a:last-child{
    padding: 25px 0 0 5px;
}

nav{
    background-color: #000;
    overflow: auto;
    clear: both;
    margin-top: 10px;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 1px;
}

nav ul li{
    float: left;
}

nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px 50px;
    line-height: 2em;
}
#inicial a[href="index.html"],
#quemSomos a[href="quem-somos.html"],
#produtos a[href="produtos.html"],
#banhoEtosa a[href="banho-e-tosa.html"],
#curiosidades a[href="curiosidades.html"]{
    background-color: #C0262C;
}

#inicial aside{
    width: 230px;
    float: left;
    margin: 30px 25px 10px;
}

#inicial main{
    width: 490px;
    float: left;
    margin: 30px 25px 10px;
}
/* Mudar a cor de um parágrafo */
/* p {
color: #990099;

} */

main h1{
color: #C0262C;

}


main h2{
font-size: 1.75em; /* 40/16=2.5 */;
background: #C0262C url(multimidia/back-bolinha.gif) repeat top center;
color: #fff;
letter-spacing: .1em;
padding: 7px;
width: 316px;

}


main p{
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}

    /* Alterações na fonte dos textos */
main h2+p:first-line{
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}
    /* Colocamos cor no HR */
main hr{
    border-color: #C0262C;
}

    /* A função font-family escolhe fontes, porém elas só serão utilizadas caso o usuário use alguma delas em seu aparelho */
body{
    font-family: Arial, Helvetica, sans-serif;
}

#produtos table {
    width: 600px;
    margin: 50px auto 30px;
    text-align: center;
    border-collapse: collapse;
}
#produtos th, #produtos td {
    border: #999 solid 1px;
    padding: 5px;
}
table {
    border-collapse: collapse;
}
tr {
    border-top: solid 3px #777;
    border-bottom: solid 3px #777;
}
th, td {
    padding: 7px;
}
#produtos caption {
    background-color: #999;
    color: #fff;
    padding: 15px 0;
    font-size: 1.5em;
}
#produtos td[colspan] {
    font-style: italic;
    font-weight: bold;
    color: #999;
}
#produtos tr:hover {
    background-color: #FEFF76;
}

  form{
      background-color: #999;
      margin: 30px 0;
      padding: 20px;
      border-radius: 0 15px;
  }
  input[type="submit"]{ /*selecionando o input submit "botao"*/
      background-color: #C0262C;
      background: linear-gradient(to bottom, #6b1516 0%,#c0262c 30%,#c0262c 70%,#6b1516 100%);    /*background direcionado de cima pra baixo*/
      border: none;
      border-radius: 30px;
      font-size: 1.2em;
      color: #fff;
      padding: 10px 30px;
      margin: 20px 0;
      text-shadow: 2px 2px 5px #000;  /*sombra do texto*/
      cursor: pointer;
  }

  label{
    display: block;
    margin-top: 7px;
    float: left;
    width: 60px;
  }
  input#nome, input#email{
      background-color: transparent;  /*background transparente*/
      border: none;
      border-bottom: #000 solid 1px;
      font-size: 1.2em;
      color: #fff;
      width: 800px;
  }
 
  /*trabalhando com estilos em outros navegadores para garantir o mesmo estilo em todos*/
  ::-webkit-input-placeholder{    /*  Chrome/Safari/Opera   */
      color: #ddd;
      font-style: italic;
      font-size: .8em;
  }
 
  ::-moz-placeholder{     /*  Firefox  */
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}

:-ms-input-placeholder{
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}


    #banhoEtosa fieldset{
        background-color: #fff;
        border: none;
        border-radius: 0 15px;
        margin-bottom: 20px;
    }

    #banhoEtosa fieldset legend{
        background-color: #C0262C;
        color: #fff;
        font-weight: bold;
        letter-spacing: .05em;
        padding: 10px;
        margin-left: -13px;




    }

    #banhoEtosa fieldset label{
        display: block;
        margin-top: 7px;
        float: left;
        width: 115px;

    }

    #banhoEtosa fieldset input[type="text"],
    #banhoEtosa fieldset input[type="email"]{
        border: none;
        border-bottom: #000 solid 1px;
        font-size: 1.2em;
        color: #000;
        width: 770;
    }

    #banhoEtosa fieldset textarea{
        width: 770px;
        height: 100px;
        font-size: 1.2em;
        border: #000 solid 1px;
    }

    #banhoEtosa fieldset label.labelSimples{
        display: inline;
        float: none;
    }
     
    #banhoEtosa p{
        text-align: left;
    }
     
    #banhoEtosa p:first-line {
        font-size: inherit;
        font-variant: inherit;
        font-weight: inherit;
        font-style: inherit;
    }
     
    #banhoEtosa h2 {
        background: #fef84f url(multimidia/postit.jpg) no-repeat top left;
        color: #000;
        padding:35px;
        /* padding: 35 para cada um dos 4 lados tamamho do postit: 277x185px*/
        width: 207px;
        /*35+35=70 > 277-70=207 */
        height: 115px;
        /*35+35=70 > 185-70=115*/
        font-size: 1.3125em;
        /*21/16=1.3125em */
        letter-spacing: .07em;
    }

    #quemSomos main img {
        float: left;
        margin: 0 20px 20px 0;
        padding: 10px;
        border: solid #c0262c thin;
        background-color: #fff;
    }

#obrigado main p img{
    float: left;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: solid #c0262c thin;
    background-color: #fff;
}

#destaqueObrigado {
    position: relative;
    border: solid #c0262c 1px;
    border-radius: 0 25px;
    padding: 5px 25px;
    margin: 20px 0;
}

#obrigado #lacinho{
    position: absolute;
    top: -20px;
    right: -20px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}